/* This is a css document. */
h1 {
    background-color: rgb(126, 231, 200);
    margin: 2vw;
    font-size: 13mm;
  }
h2 {
    color: #f733a5;
}
h3 {
    color: hsl(19,100%,60%);
}
html {
    font-size: .4cm;
}
.toc {
    font-size: 2em;
}
.toclist {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    align-content: flex-start;
}
li {
    font-size: 1.25rem;
    margin: auto;
    color:blue;
}
.date {
    font-size: .3in;
    border: 5px solid rgb(95, 207, 129);
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 20vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.box {
    box-sizing: border-box;
    border: 5px solid rebeccapurple;
    border-style: dashed;
    border-color:aqua;
    border-width: 5px;
    border-radius: 30px;
    margin: 30px 10px 5px 20px;
    padding: 20px 20px 20px 20px;
    text-decoration: wavy overline lime;
    text-align: center;
    display: inline-block;
}
.where2go {
    display: block;
}
.button {
    height: 70px;
    width: 90px;
    position: static;
}
.button:hover {
    color:green;
}
.button:active {
    box-shadow: 2px 2px 5px #63ff25;
}
.fbid {
    max-width: 600px;
    max-height: 30px;
}
.audio {
    position: relative;
    top: 10px;
}
.what2bring {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: auto;
    column-gap: 10px;
}